body{
  font-family: "Montserrat";
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat, sans-serif";
}
p {
  color: #8f8f8f;
}
/* Headings */
.big-heading{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
/* Containers */
.container-fluid{
  padding: 7% 15%;
}
/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}
/* Title section */
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* DownloadButtons */
.download-button{
  margin: 5% 3% 5% 0;
}
/* tittleImage */
.tittle-image{
  transform: rotate(25deg);
  position: absolute;
  width: 60%;
  right: 30%;
}
.tittle-image-container{
  position: relative;
}
/* Feautures */
.featuresIcons{
  padding: 5%;
}
.features-text{
  font-size: 1.5rem;
}
.icons{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icons:hover{
  color: #ff4c68;
}
#features{
  margin: auto 0;
  position: relative;
}
/* Testimonials */
#testimonials{
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  border-radius: 100%;
  width: 12%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-control-prev{
  background-color: transparent;
  border: 0;
}
.carousel-control-next{
  background-color: transparent;
  border: 0;
}
/* Pricing */
#pricing{
  padding: 100px;
}
.pricing-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-h3{
  font-size: 1.5rem;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}
/* CTA */
#cta{
  font-family: "Montserrat";
  padding-top: 100px;
}
.cta-h3{
  font-size: 2.5rem;
  line-height: 1.5rem;
}
/* Footer */
#footer{
  background-color: #fff;
}
.footerIcons{
  margin: 20px 10px;
}

/* MediaQueries */
@media (max-width: 991px) {
  .tittle-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }

}
